.contact_section{
	display:flex;
	// padding: 100px 0 60px;
	padding: 100px 0;
	justify-content:space-around;

	// .left_section, .right_section{
	// 	width: 50%;
	// }
	.left_section{
		max-width: 330px;
		.img_wrapper{
			text-align: center;
			margin-bottom: 60px;
			img{
				padding: 40px;
				border: 1px solid rgba(3,19,45,0.1);
				border-radius:100%;
			}
		}
		h3{
			font-size: 22px;
			font-weight: $heading_weight;
			margin-bottom: 15px;
		}
		p{
			// font-weight: 26px;
			line-height: 1.5;
			margin-bottom: 10px;
		}
	}
	select{
		color: red;
		option{
			color: blue;
		}
	}

	.right_section{
		.description{
			color:$accent_color;
			font-weight: 400;
		}
	}
}