$input_width : 300px;

.contact_form_wrapper{
	display:flex;
	justify-content:center;
	form.contact_form{
		color: $black;
		width: $input_width;
		margin-top: $def_spacing*3/2 ;
		.input_group{
			position:relative;
			margin-bottom:30px;
			label{ 
			  font-size:$body;
			  position:absolute;
			  pointer-events:none;
			  left:5px;
			  top:10px;
			  transition:0.2s ease all; 
			}
			.bar  { 
				position:relative; 
				display:block; 
				width:$input_width; 
				&:before, &:after{
				  content:'';
				  height:2px; 
				  width:0;
				  bottom:1px; 
				  position:absolute;
				  background:#000; 
				  transition:0.2s ease all; 
				}
				&.textarea_bar:before, &.textarea_bar:after{
					bottom:3px; 
				}
				&:before {
				  left:50%;
				}
				&:after {
				  right:50%; 
				}
			}
			input[type="text"],input[type="email"], textarea{
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom: 1px solid $black;
				background: transparent;
				width: $input_width;
				&:focus ~ label, &.not_empty ~ label{
				  top:-20px;
				  font-size:$small;
				  color:rgba(0,0,0,0.6);
				}
				&:focus ~ .bar:before, &:focus ~ .bar:after {
				  width:50%;
				}
			}
			input[type="text"],input[type="email"]{
				height:40px;
			}
			textarea{
				resize: none;
				height: 4em;
			  height: calc(1.6em*2 + 20px);
			  line-height: 1.6em;
			  padding-left: 5px;
			  overflow: auto;
			}


			//maybe improve later, with multiple mixins for hover or not status
			.contact_form_button_wrapper{
				transition: background-position 0.4s;
  			transition-timing-function: cubic-bezier(.19,1.72,.71,.47);
  			height: 55px;
  			// border: 2px solid;
				// border-radius: 100px;
				// background-image: linear-gradient(90deg, $black, #545454);
				// padding: 2px;
				.contact_form_button{
		  		// background-image: linear-gradient(76deg, $black, #545454);
		  		width:100%;
					@include button_pill($border-color:'none', $text-color:$white, $text-color-hover:$white, $background-image:linear-gradient(90deg, $black, #545454 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)), $hover-effect:'load');
					padding:12px 25px; //+2 to compensate border
					border: 2px solid #545454;
					// border-radius: 100px;
					// border-image-source: linear-gradient(90deg, $black, #545454);
					// border-image-slice: 1;
					// padding:10px 25px;
					pointer-events:none;
    			display: inline-block;
    			will-change: transform;

    			transition: font 0.5s 1s,
										width 0.5s 1s,
										background-position 0.5s 0s,
										background-image 0.5s 0s,
										border 0.5s,
										border-radius 0.5s;

				  &:after,&:before{
						font-family: 'FontAwesome';
						font-size: 0;
						opacity:0;
						top: 7px;
						position: absolute;
						will-change: transform;
						transition:0.4s 1s ease-in-out all;
						color:#4BE98C;
						left: 40px;
					}
					&:before{
						content: "\f0e0";
						// left: 15px;
						transition:	font 0.4s 1s ease-in-out,
												transform 1s 1.4s ease-in-out;
						transform: translateX(0%);
					}
					&:after{
						content: "\f00c";
						// right: 10px;
						transition:0.4s 1.9s ease-in-out all;
						// transform: translateY(1000%);
					}

					&.trying{
						background-position: 100%; 
				    border-left: 0px solid rgba(255,2555,255,0);
				    font-size: 0;
						width: 54px;
						height: 54px;
						animation-name: trying;
						animation-delay: 2s;
					  animation-duration: 2s;
					  animation-timing-function: linear;
					  animation-iteration-count: infinite;
					  will-change: transform;
					}

					@keyframes trying {
					  100% {
					    transform: rotate(360deg);
					  }
					}

					&.sent_ok{

						background-position: 100%; 
				    border-left: 0px solid rgba(255,2555,255,0);
				    font-size: 0;
						width: 54px;
						height: 54px;
						
						border-radius: 0;
				    border: 2px solid #4BE98C;
				    width: 108px;
				    &:after,&:before{
				    	font-size: $h3;
				    	// transform: translateY(0);
				    	opacity: 1;
				    }
				    &:before{
				    	transform: translateX(10000%);
				    }
				  }

				}

				&:hover{
						.contact_form_button{
					    color: $black;
					    background-position: 100%; 
						}
					}

			}
			
			input[type="button"],input[type="submit"],button{
	  		@include absolute-fill;
		    -webkit-appearance: none;
		    border:none;
		    background-color:transparent;
		    outline: none;
		    font-size: 0;
			}
			span.error{
				font-size:$small;
			}
		}
	}
}



// .contact_form_button{
//   .button{
//     //ton style
//     pointer-events:none;
//     display: inline-block;
//     //ton style
//     &:after{
//       //ton syle
//     }
//   }

//   &:hover{
//     .button{
//       &:after{
        
//       }
//     }
//   }

//   input[type="submit"],button{
//     @include absolute-fill;
//     -webkit-appearance: none;
//     border:none;
//     background-color:transparent;
//     outline: none;
//     font-size: 0;
//   }
// }