$input_width : 300px;

.contact_form_wrapper{
	display:flex;
	justify-content:center;
	form.contact_form{
		color: $black;
		width: $input_width;
		.input_group{
			position:relative;
			margin-bottom:30px;
			label{ 
			  font-size:$body;
			  position:absolute;
			  pointer-events:none;
			  left:5px;
			  top:10px;
			  transition:0.2s ease all; 
			}
			.bar  { 
				position:relative; 
				display:block; 
				width:$input_width; 
				&:before, &:after{
				  content:'';
				  height:2px; 
				  width:0;
				  bottom:1px; 
				  position:absolute;
				  background:#000; 
				  transition:0.2s ease all; 
				}
				&.textarea_bar:before, &.textarea_bar:after{
					bottom:3px; 
				}
				&:before {
				  left:50%;
				}
				&:after {
				  right:50%; 
				}
			}
			input[type="text"],input[type="email"], textarea{
				border-top:none;
				border-left:none;
				border-right:none;
				border-bottom: 1px solid $black;
				background: transparent;
				width: $input_width;
				&:focus ~ label, &.not_empty ~ label{
				  top:-20px;
				  font-size:$small;
				  color:rgba(0,0,0,0.6);
				}
				&:focus ~ .bar:before, &:focus ~ .bar:after {
				  width:50%;
				}
			}
			input[type="text"],input[type="email"]{
				height:40px;
			}
			textarea{
				resize: none;
				height: 4em;
			  height: calc(1.6em*2 + 20px);
			  line-height: 1.6em;
			  padding-left: 5px;
			  overflow: auto;
			}


			//maybe improve later, with multiple mixins for hover or not status
			.contact_form_button_wrapper{
				transition: background-position 0.4s;
  			transition-timing-function: cubic-bezier(.19,1.72,.71,.47);
  			// border: 2px solid;
				// border-radius: 100px;
				// background-image: linear-gradient(90deg, $black, #545454);
				// padding: 2px;
				.contact_form_button{
		  		// background-image: linear-gradient(76deg, $black, #545454);
		  		width:100%;
					@include button_pill($border-color:'none', $text-color:$white, $text-color-hover:$white, $background-image:linear-gradient(90deg, $black, #545454 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0)), $hover-effect:'load');
					padding:12px 25px; //+2 to compensate border
					border: 2px solid #545454;
					// border-radius: 100px;
					// border-image-source: linear-gradient(90deg, $black, #545454);
					// border-image-slice: 1;
					// padding:10px 25px;
					pointer-events:none;
    			display: inline-block;
				}
				&:hover,&:active{
					.contact_form_button{
						// padding:10px 25px;
						// border: 2px solid $black;
				    color: $black;
				    background-position: 100%; 
					}
				}
			}
			
			input[type="button"],input[type="submit"],button{
	  		@include absolute-fill;
		    -webkit-appearance: none;
		    border:none;
		    background-color:transparent;
		    outline: none;
		    font-size: 0;
			}
			span.error{
				font-size:$small;
			}
		}
	}
}

// .contact_form_button{
//   .button{
//     //ton style
//     pointer-events:none;
//     display: inline-block;
//     //ton style
//     &:after{
//       //ton syle
//     }
//   }

//   &:hover{
//     .button{
//       &:after{
        
//       }
//     }
//   }

//   input[type="submit"],button{
//     @include absolute-fill;
//     -webkit-appearance: none;
//     border:none;
//     background-color:transparent;
//     outline: none;
//     font-size: 0;
//   }
// }