@include ipad{
	html,body{
		overflow:scroll;
	}
}
.home{
	@include min-ipad{
		height: 100vh;
	}
	// @include tablet{
	// 	height: 100%;
	// 	// overflow:scroll-y;
	// }

	#pp-nav li .active span, .pp-slidesNav .active span{
		background-color: #ffffff;
	}

	#pp-nav li a.active {
		span{
			&:after{
				content:'';
		    position: absolute;
		    width: 10px;
		    height: 10px;
		    // top: 50%;
		    // left: 50%;
		    // transform: translate(-50%,-50%);
		    top: -2px;
    		left: -2px;
		    border: 1px solid white;
		    border-radius: 100%;
		    animation-name: circle_beat;
			  animation-duration: 1.5s;
			  // animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
			  animation-timing-function: ease-in-out;
			  animation-iteration-count: infinite;
			  will-change: transform;
			}
		}
	}

	@keyframes circle_beat {
	  0%{
		transform: scale(1);
	  }
	  50%{
		transform: scale(1.5);
	  }
	  100% { 
	  transform: scale(1);
	  }
	}

	// .pp-tool-tip{
	// 	color:red !important;
	// }

	.section {
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-position: 50% 0%;
    background-repeat: no-repeat;

    display:flex;
    justify-content: center;
    align-items: center;

    @include divi{
    	&:nth-child(2n){
	    	.content_wrapper{
	    		flex-direction: column-reverse;
	    	}
	    }
    }

    @include min-ipad{
			height: 100vh;
			padding-top:100px;
		}

		@include ipad{
			// padding-top: 84px;
   //  	padding-bottom: 84px;
   		// padding-top: $def_spacing*3/2;
    	padding-bottom: $def_spacing*3/2;
    	padding-left: $def_spacing;
    	padding-right: $def_spacing;

    	padding-top: 80px;
    	// padding-top:143px;
    	padding-bottom:143px;
    	margin-top: -80px;

    	&:first-child{
				padding-top:143px;
				margin-top: 0;
			}

		} 

		@include phone{
			// padding: $def_spacing $def_spacing/2;
			padding: $def_spacing $def_spacing/2 143px;	
		}


    .content_wrapper{
    	display: flex;
	    justify-content: space-between;
	    align-items: center;

	    @include divi{
	    	flex-direction:column;
	    	text-align:center;
	    }
    }

    .title{
    	margin-bottom: $def_spacing;
    }
    .details{
    	margin-bottom: $def_spacing;
    }
    h1{
    	white-space: nowrap;
    }
	}	

	.mouse {
		position: absolute;
	  bottom: 40px;
	  left: 50%;
	  transform: translateX(-50%);
	  width: 30px;
	  height: auto;
	  cursor:pointer;

	  @include divi{
	  	display: none;
	  }

	  .scroll {
		  animation-name: scroll;
		  animation-duration: 1.5s;
		  animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
		  animation-iteration-count: infinite;
		  transform-origin: 50% 20.5px;
		  will-change: transform;
		}
	}

	@keyframes scroll {
	  0%, 20% {
	  transform: translateY(0) scaleY(1);
	  }
	  10% {
	  opacity: 1;
	  }
	  100% {
	  transform: translateY(36px) scaleY(2);
	  opacity: 0.01;
	  }
	}

	.view_top{
		background-image: $view_top_background; 
	}
	.view_design{
		// background-image: linear-gradient(143deg, #2ffef7, #2cfd30); 
		background-image: $view_design_background;
	}
	.view_development{
		// background-image: linear-gradient(123deg, #00ff75, #fcf40f);
		// background-image: linear-gradient(123deg, #29FD2F, #29FD2F 50%, #fcf40f);
		background-image: $view_development_background;
	}
	.view_seo{
		// background-image: linear-gradient(139deg, #ffe954, #fc1d48);
		background-image: $view_seo_background;
	}
	.view_extras{
		background-image:$view_extras_background;
	}
	.view_startup{
		// background-image: linear-gradient(134deg, #faaca8, #ddd6f3);
		background-image:$view_startup_background;
	}
	.view_contact{
		background-image:$view_contact_background;
		h1,h2,h3,h4,h5,h6,p, .button{
			color: #000000;
		}
		.button{
			border-color: #000000;
		}
	}
}

$mac_case_color : #F9F9F9;
$mac_case_shadow : #F5F5F5;

.md-imac {
  width: 62.5em;
  height: 50em;
  -webkit-transform: translate3d(0, 0, 0);
}
.md-imac .md-body {
  width: 100%;
  height: 43.125em;
  // background: #c6c7ca;
  background: $mac_case_color;
  border-radius: 1.875em;
  overflow: hidden;
}
.md-imac .md-top {
  width: 100%;
  height: 37.1875em;
  background: #0f0f0f;
  border-radius: 1.875em 1.875em 0 0;
  position: relative;
}
.md-imac .md-screen {
  width: 57.5em;
  height: 32.375em;
  margin: 0 auto;
  position: relative;
  top: 2.375em;
  // background: #17171a;
  overflow: hidden;

  background: url(http://tredny.local/wp-content/uploads/2018/07/tredny-imac-mockup.svg);
  background-size: 100%;
  background-position: 100% 0%;

  // animation-name: scroll-top-imac;
  // animation-duration: 5s;
  // animation-timing-function: ease-in-out;
  // animation-iteration-count: infinite;
  // transform-origin: 50% 20.5px;
  // will-change: transform;
}

// @keyframes scroll-top-imac {
// 	  0% {
// 	      background-position: 100% 0%;
// 	  }
// 	  50% {
// 	      background-position: 100% 100%;
// 	  }
// 	  100% {
// 	      background-position: 100% 0%;
// 	  }
// 	}

.md-imac .md-screen img {
  width: 100%;
}

// .md-imac .md-screen svg{
// 	position: absolute;
//   left: 0;
//   transition: all 3s linear;
//   will-change: transform;
//   top:0
//   transform: translateY(0);
// }

.md-imac .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.25em;
  // background: #000;
  background: #fff;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.md-imac .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
}
.md-imac .md-base {
  width: 20.25em;
  height: 6.875em;
  // margin: -0.5em auto;
  margin: 0em auto;
}
.md-imac .md-stand {
  width: 13.125em;
  height: 6.125em;
  margin: 0 auto;
  background: #fff;
  background: linear-gradient(48deg, #F9F9F9, #F9F9F9 32%, #F5F5F5 32%, #F5F5F5);
  // background: -webkit-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  // background: -moz-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  // background: -o-linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  // background: linear-gradient(#b7b8bb, #cccdcf 50%, #d9dadb 80%, #cccdcf, #bfc0c3);
  // -webkit-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  // -moz-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  // -ms-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  // -o-transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
  // transform: perspective(50em) rotate3d(1, 0, 0, 30deg);
}
.md-imac .md-foot {
  // width: 15em;
  // height: 3.125em;
  // margin: 0 auto;
  // position: relative;
  // bottom: 1.5em;
  // border-radius: 0 0 0.625em 0.625em;
  // background: -webkit-linear-gradient(#bfc0c3 20%, #cccdcf);
  // background: -moz-linear-gradient(#bfc0c3 20%, #cccdcf);
  // background: -o-linear-gradient(#bfc0c3 20%, #cccdcf);
  // background: linear-gradient(#bfc0c3 20%, #cccdcf);
  // -webkit-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  // -moz-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  // -ms-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  // -o-transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  // transform: perspective(11.875em) rotate3d(1, 0, 0, 70deg);
  // box-shadow: 0 0.375em 0 #bfc0c3;
  width: 15em;
  height: 2.125em;
  margin: 0 auto;
  position: relative;
  bottom: 1.5em;
  border-radius: 5px 5px 0 0;
  background: $mac_case_color;
}
.md-imac.md-glare .md-top:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25em 0 0;
  background: -webkit-linear-gradient(42deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(42deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(42deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(48deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
}


/* Static assets*/
.static-images-wrapper{
	position:relative;
	text-align:center;
	// @include min-divi{
	// 	min-height:500px;
	// }
	min-height:500px;

	@include ipad{
   	min-height: 0;
  }

 .big-wrapper{
		@include min-ipad{
			display:block;
		}
		@include ipad{
			display:none;
		}
	}

	.small-wrapper{
		// margin-top:$def_spacing;
		margin-top: $def_spacing*3/2;
		@include min-ipad{
			display:none;
		}
		@include ipad{
			display:block;
		}
	}

	.tredny-top-imac-mockup,
	.tredny-top-macbook-mockup,
	.tredny-top-phone-mockup,
	.tredny-top-tablet-mockup,
	.tredny-web-design-imac,
	.tredny-web-development-macbook-code,
	.tredny-web-design-tablet-mockup,
	.xtra-icon{
		position:absolute;
	}
	.tredny-top-imac-mockup,
	.tredny-top-macbook-mockup,
	.tredny-top-phone-mockup,
	.tredny-top-tablet-mockup,
	.tredny-web-design-imac,
	.tredny-web-development-macbook-code,
	.tredny-web-design-tablet-mockup{
		@include macbook{
			transform: scale(0.6);
		}
	}
	.tredny-top-imac-mockup{ 
		top: 0;
    // left: 120px;
    left: 80px;
    width: 512px;
    @include macbook{
    	top: 50px;
	    // left: 60px;
	    left: 20px;
	    width: 512px;
    }
    @include divi{
    	// left: 140px;
    	left: 50%;
    }
	}
	.tredny-top-macbook-mockup{
		// right: 0;
		// right:-30px;
		// left:300px;
		left: 260px;
    bottom: 55px;
    width: 480px;
    z-index:2;
    @include macbook{
    	// left: 200px;
    	left: 160px;
	    bottom: 50px;
	    width: 480px;
    }
    @include divi{
    	// left: 260px;
    	left: 75%;
    	bottom: 0;
    }
	}
	.tredny-top-phone-mockup{
		// left: 162px;
		// left:180px;
		left: 140px;
    bottom: 46px;
    width: 90px;
    z-index:4;
    @include macbook{
    	// left: 180px;
    	left: 140px;
	    bottom: 55px;
	    width: 90px;
    }
    @include divi{
    	// left: 240px;
    	left: 33%;
    	bottom: 0;
    }
	}
	.tredny-top-tablet-mockup{
		// left: 0;
		// left:40px;
  //   top: 120px;
  //   width: 220px;
  //   z-index:3;
  	// left: 40px;
  	left: 0;
    top: 180px;
    width: 180px;
    z-index: 3;
    @include macbook{
    	// left: 60px;
    	left: 20px;
	    top: 155px;
	    width: 200px;
    }
    @include divi{
    	// left: 120px;
    	left: 20%;
	    top: initial;
	    bottom: 10px;
    }
	}
	.tredny-web-design-imac{
		top: 0;
    // left: 120px;
    left: 70px;
    width: 512px;
    z-index: 1;
    @include macbook{
    	top: 50px;
	    // left: 30px;
	    left:0;
	    width: 512px;
    }
    @include divi{
    	// left: 145px;
    	left: 50%;
    }
	}
	.tredny-web-development-macbook-code{
		// right: 0;
		// right:-30px;
    bottom: 55px;
    width: 420px;
    z-index:2;
    @include macbook{
    	left: 150px;
	    bottom: 55px;
    }
    @include divi{
    	// left: 300px;
    	left: 75%;
    	bottom: 0;
    }
	}
	.tredny-web-design-tablet-mockup{
		width: 280px;
    z-index: 3;
    left: 30px;
    bottom: 80px;
    @include macbook{
	    left: 0px;
	    bottom: 45px;
    }
    @include divi{
    	// left: 150px;
    	left: 25%;
    	bottom: 20px;
    }
	}
	.tredny-digital-marketing{
		// width: 500px;
		width: 450px;
		// padding-top: 63px;
		margin-top: 63px;
		@include divi{
			// padding-top: 42px;
			margin-top: 42px;
		}
	}
	.xtra-icon{
		width: 128px;
		top:initial;
		left:initial;
	}
}

.active .static-images-wrapper{
	.tredny-flyers-icon{
		// top:35%;
		// left:50%;
		transform:translate(-50%,50%);
	}
	.tredny-camera-icon{
		// top:50%;
		// left:35%;
		transform:translate(-150%,150%);
	}
	.tredny-cart-ecommerce-icon{
		// top:50%;
		// left:65%;
		transform:translate(50%,150%);
	}
	.tredny-tools-maintenance-icon{
		// top:65%;
		// left:50%;
		transform:translate(-50%,250%);
	}
}

// .drop_wrapper{
  
//   position:fixed;
//   text-align:center;
//   width: 2Px;
//   height: 10px;
//   z-index: 10000;
//   top:50%;
  
//   .drop{
//     position:absolute;
//     z-index: 2222;
//     width: 1px;
//     height: 20px;
//     left:50%;
    
//     animation-name: up-down;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;

//     &.one{
//     	&.white{
//     		background-color:rgba(255, 255, 255, 1);
//     	}
//     	// &.blue{
//     	// 	background-color:#619BBD;
//     	// }
//     }
    
//     &.two{
//       &.white{
//       	background-color:rgba(255,255,255, 0.8);
//       }
//       // &.blue{
//       // 	background-color:#65A4C9;
//       // }
//       animation-delay:0.1s;
//     }
    
//     &.three{
//       &.white{
//       	background-color:rgba(255,255,255, 0.6);
//       }
//       // &.blue{
//       // 	background-color:#6CAFD2;
//       // }
//       animation-delay:0.2s;
//     }
    
//     &.four{
//       &.white{
//       	background-color:rgba(255,255,255, 0.4);
//       }
//       // &.blue{
//       // 	background-color:#7AC3E6;
//       // }
//       animation-delay:0.3s;
//     }
    
//     &.five{
//       &.white{
//       	background-color:rgba(255,255,255, 0.2);
//       }
//       // &.blue{
//       // 	background-color:#84cdee;
//       // }
//       animation-delay:0.4s;
//     }
    
//   }
// }

// @keyframes up-down {
//     0%   { top:0px;}
//     50%  { top:50px;}
//     100% {top:0px;}
// }