/**
 * partials/wrapper
 * ---
 */


.wrapper {
  // max-width: $wrapper-width;
  max-width: 100%;
  // width: 80%;
  // padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
  // main{
  // 	padding: 0 $margin-horizontal-large; 
  // }
}

section,.footer_wrapper{
	padding: 50px;
	@include tablet{
		padding: 20px;
	}
}